@media screen and (min-width: 601px) {
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .header {
    position: fixed;
    bottom: 0;
    grid-template-columns: 3fr 2fr 2fr 2fr 2fr;
  }

  img {
    width: 60px;
  }

  h2 {
    font-size: 16px;
  }

  a {
    text-align: center;
    margin: auto;
  }
}
